


.menu-item-card {
    width: 250px;
    height: 270px;
    border-width: 3px;
    margin: 15px;
}

.menu-item-card-active {
    background-color: #FFF;
    border-color: rgb(4, 224, 4);
}

.menu-item-card-disabled {
    background-color: rgb(233, 233, 233);
    border-color: rgb(173, 173, 173);
}

.menu-item-card-title-container {
    display: flex;
    flex-direction: row;
}

.menu-item-card-body {
    padding: 5px;
}

.menu-item-card-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.menu-item-card-image {
    min-height: 150px;
}

.menu-item-card-spinner {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    border-width: 3px;
}


@media only screen and (max-width: 576px) {
    .menu-item-card {
        width: 40%;
        
    }

    .menu-item-card-image {
        min-height: 100px;
    }

}