
/* 
  AddMenuItem.js
*/
.menu-add-form-input {
    margin-bottom: 10px;
    max-width: 300px;
  }

.container-menu-item-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.menu-item-card-preview {
  width: 250px;
  height: 270px;
  border-width: 3px;
  margin: 15px;
}

.menu-item-container-image-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}


@media only screen and (max-width: 576px) {
  

}